:root {
    --calcWidth: 175px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: var(--calcWidth);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* outline: 3px solid black; */
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    zoom: 3;
}

.screen {
    width: calc(var(--calcWidth) * 0.75);
    text-align: center;
    outline: 2px solid black;
}

.buttonContainer {
    width: calc(var(--calcWidth) * 0.75);
    height: min-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.numContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    width: calc(calc(calc(var(--calcWidth) - 8px) * 0.75) * 0.75);
    height: auto;
    outline: 2px solid black;

}

.numButton {
    width: calc(100% / 3);
    height: fit-content;
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.operatorContainer {
    width: calc(calc(calc(var(--calcWidth) - 10px) * 0.75) * 0.25);
    outline: 2px solid black;
}


.operatorButton {
    outline: 1px solid black;
    /* outline-offset: -2px; */
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: pink;
    outline: 2px solid black;
    outline-offset: -1px;
}

.operatorContainer:hover, .numContainer:hover {
    outline-offset: -1px;
}

